.ctb-sortable-fields {
    display: block;
    list-style: none;
    margin: 0;

    .ctb-field {
        position: relative;
        border-radius: 6px;
        border: 1px solid #ddd;
        padding: 8px 50px 8px 35px;
        margin-bottom: 5px;
        background-color: #fff;
        width: 350px;
        max-width: 100%;

        &.ctb-draggable-ghost {
            background-color: #000;
            color:#fff;
            opacity: .3;
        }

        .ctb-sortable-handler {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 13px;
            padding: 10px 11px;
            &:hover {
                cursor: move;
            }
        }

        .ctb-field-options {
            position: absolute;
            top: 50%;
            right: 1px;
            transform: translateY(-50%);
            font-size: 0;

            span {
                display: inline-block;
                font-size: 14px;
                border-radius: 5px;
                border: 1px solid transparent;
                height: 32px;
                width: 32px;
                line-height: 32px;
                text-align: center;
                &:hover {
                    border: 1px solid #d6dce4;
                    cursor: pointer;
                    background-color: #fff;
                }
            }
        }
    }
}

.ctb-field-constraint-modificators {
    padding: 10px 0 20px 24px;
}

.ctb-sections-container {
    .ctb-sortable-placeholder:empty {
        padding: 30px;
        border: 3px dashed #ddd;
        border-radius: 6px;
        position: relative;
        margin: 15px;
    }
    .ctb-sortable-placeholder:empty:before {
        content: attr(data-label);
        color: rgba(0,0,0,.4);
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    .ctb-draggable-ghost {
        opacity: .2;
    }

    .ctb-section-options {
        position: absolute;
        top: 50%;
        right: 5px;
        transform: translateY(-50%);

        span {
            padding: 5px 10px;
            font-size: 16px;
            border-radius: 5px;
            border: 1px solid transparent;
            &:hover {
                border: 1px solid #d6dce4;
                cursor: pointer;
                background-color: #fff;
            }
        }
    }

    .ctb-section-label {
        border-bottom: 1px solid #d6dce4;
        background-color: #f7f7f7;
        padding: 8px 40px 8px 36px;
        position: relative;
        .ctb-section-label-input {
            background-color: transparent;
            border: 1px solid transparent;
            padding: 2px 7px;
            outline: none;
            border-radius: 4px;
            transition: .12s all;
            width: 100%;
            &:hover, &:focus {
                border: 1px solid #aaa;
                background-color: #fff;
                outline: none;
            }
        }
        .ctb-section-sortable-handler {
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            font-size: 18px;
            padding: 10px 12px;
            &:hover {
                cursor: move;
            }
        }
    }
    .ctb-sortable-fields {
        .ctb-sortable-placeholder:empty {
            margin: 0;
        }
    }
    .ctb-section-footer {
        padding: 15px;
        text-align: center;
        border-bottom: 1px solid #d6dce4;
    }
}

.ctb-section-main-tabs-contents {
    border-top: 1px solid #d6dce4;
}

.ctb-section-fields-container {
    padding: 15px 15px 0 15px;
}

.ctb-button {
    background-color: #f1f1f1;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px 10px;
    transition: .12s all;

    &:hover {
        background-color: #ddd;
    }
}

.ctb-new-section-button {
    text-align: center;
    font-size: 13px;
    padding: 7px 15px;
    margin: 15px 0;
    border: 1px solid #ddd;
    background-color: #f1f1f1;
    border-radius: 5px;
    display: inline-block;
    transition: .12s all;
    &:hover {
        cursor: pointer;
        background-color: #ddd;
    }
    i {
        font-size: 16px;
        display: block;
    }
}

.ctb-field-type-selector {
    margin-left: -5px;
    margin-right: -5px;
    > div {
        margin: 5px;
        text-align: center;
        width: 146px;
        border: 1px solid #ddd;
        padding: 5px 5px 5px 35px;
        border-radius: 5px;
        display: inline-block;
        transition: .12s all;
        position: relative;
        &:before {
            display: block;
            content: "";
            font-weight: bold;
            font-family: "Font Awesome 5 Free", serif;
            color: #fff;
            line-height: 32px;
            position: absolute;
            left: 0;
            top: 0;
            bottom: 0;
            width: 30px;
            border-right: 1px solid #ddd;
            border-radius: 3px 0 0 3px;
            transition: .12s all;
        }
        &:hover {
            cursor: pointer;
            background-color: #f2f2f2;
        }
        &.ctb-active {
            border-color: #088170;
            &:before {
                content: "\f00c";
                background-color: #088170;
            }
        }
    }
}
