###> symfony/framework-bundle ###
/.env
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/public/assets/
/public/uploads/
/extension/module/*
!/extension/module/.gitignore
/extension/theme/*
!/extension/theme/.gitignore
/var/
/vendor/
/.idea/
/config/dynamic/*
!/config/dynamic/readme.md
!/config/dynamic/.gitignore
/docs/architecture/.structurizr
/docs/architecture/workspace.json
/composer.lock
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> squizlabs/php_codesniffer ###
/.phpcs-cache
/phpcs.xml
###< squizlabs/php_codesniffer ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> Local Live Development ###
/core
tulia-local-project.json
tulia-local-composer.json
tulia-local-composer.lock
tulia-local-symfony.lock
###< Local Live Development ###
