<?xml version="1.0" encoding="UTF-8"?>
<phpunit
        backupGlobals="false"
        backupStaticAttributes="false"
        bootstrap="tests/unit/bootstrap.php"
        colors="true"
        convertErrorsToExceptions="true"
        convertNoticesToExceptions="true"
        convertWarningsToExceptions="true"
        processIsolation="false"
        stopOnFailure="false"
        >
    <testsuites>
        <testsuite name="Tulia Hooking test suite">
            <directory>./src/component/hooking/tests/unit/</directory>
        </testsuite>
        <testsuite name="Tulia Routing Test Suite">
            <directory>./src/component/routing/tests/unit/</directory>
        </testsuite>
    </testsuites>
</phpunit>
