.layout-with-sidebar {
    display: flex;

    .layout-sidebar {
        flex: 0 0 320px;
        max-width: 320px;
        padding-right: 7px;
    }

    .layout-content {
        flex: 1 1 auto;
        max-width: 100%;
        padding-left: 8px;
    }
}
