.content-builder-repeatable-target {
    border: 1px solid #ddd;
    border-bottom: none;
    border-radius: 3px;
    margin-bottom: 10px;
}

.content-builder-repeatable-element {
    border-bottom: 1px solid #ddd;
}

.content-builder-repeatable-element-header {
    background-color: rgba(0, 0, 0, 0.03);
    border-bottom: 1px solid rgba(0, 0, 0, 0.125);
    text-align: right;
}

.content-builder-repeatable-element-body {
    padding: 10px 10px 0 10px;
}
