.dashboard {padding:0 8px;}
.dashboard-widgets {opacity:1;transition:.2s all}
.dashboard-widgets.loading {opacity:0;}
.dashboard-widgets .widget {width:33.3333%;margin:0;padding:0;}
.dashboard-widgets .widget--1by1 {width:100%;}
.dashboard-widgets .widget--1by2 {width:50%;}
.dashboard-widgets .widget--1by3 {width:33.3333%;}
.dashboard-widgets .widget--2by3 {width:66.6666%;}
.dashboard-widgets .widget .widget-inner {margin:0 8px 16px;}
.dashboard-widgets .pane {margin-bottom:0;}
.dashboard-widgets .pane-header {padding-right:0}

.activity-list {position:relative;padding:0 10px;}
.activity-list:before {content:"";display:block;position:absolute;left:23px;top:10px;bottom:-15px;z-index:1;width:4px;background-color:#e7e9f5;}
.activity-item {position:relative;z-index:10;}
.activity-item:hover .activity-content:before {border-width:6px;}
.activity-date {font-size:10px;font-weight:400;padding:3px 10px 10px 35px;color:#8c8c8c;}
.activity-date:before {content:"\f017";font-family:$base-font-awesome;font-weight:normal;display:inline-block;margin-right:5px;}
.activity-content {padding:10px 10px 0 35px;position:relative;}
.activity-content:before {display:block;content:"";width:12px;height:12px;border-radius:50%;background-color:#fff;border:3px solid $color-primary;position:absolute;left:9px;top:13px;box-shadow:0 0 0 3px #fff;transition:.12s all;}
.activity-content a {font-weight:bold;color:$color-primary;}

.backup-widget {}
.backup-widget .progress {height:20px;position:relative;}
.backup-widget .progress-hidder {position:absolute;top:0;right:0;bottom:0;background-color:#ddd;}
.backup-widget .progress-bar {width:100%;background: rgb(24,214,0);background: -moz-linear-gradient(left,  rgba(24,214,0,1) 0%, rgba(255,246,0,1) 90%, rgba(255,246,0,1) 100%);background: -webkit-linear-gradient(left,  rgba(24,214,0,1) 0%,rgba(255,246,0,1) 90%,rgba(255,246,0,1) 100%);background: linear-gradient(to right,  rgba(24,214,0,1) 0%,rgba(255,246,0,1) 90%,rgba(255,246,0,1) 100%);filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#18d600', endColorstr='#fff600',GradientType=1 );}

.tulia-news-widget a {color:#666;}
.news-item {margin:0 0 20px 0}
.news-item:last-child {margin-bottom:0}
.news-date {display:block;margin-bottom:5px;color:#999;font-size:10px}
.news-date:before {content:"\f133";font-family:$base-font-awesome;font-weight:bold;display:inline-block;margin-right:5px;}

.system-update-widget .status-icon {font-size:60px;color:green;text-align:center;margin-bottom:10px;margin-top:0;}
.system-update-widget p {margin-bottom:30px;text-align:center}

.statistics-widget .statistics-canvas-container {padding-top:10px;position:relative;}

.last-comments-widget .comments-list {padding:15px 0;}
.last-comments-widget .comment-item {border-bottom:1px solid #ddd;padding:10px $pane-padding;}
.last-comments-widget .comment-item:first-child {padding-top:0}
.last-comments-widget .comment-item:last-child {padding-bottom:0;border-bottom:none;}
.last-comments-widget .comment-item .comment-author {font-weight:bold;}
.last-comments-widget .comment-item .comment-date {font-weight:bold;color:rgba(0,0,0,.3);font-style:italic;}
