@mixin before-icon($size) {
    width:$size;
    height:$size;
    line-height:$size;
    font-size:$size;
    text-align:center;
    display:block;
}

@mixin btn-drop-shadow($color) {
    box-shadow:$btn-drop-shadow rgba($color, .45);
}

@mixin btn-icon-left-padding {
    padding-left: 43px;
}

@mixin btn-icon-right-padding {
    padding-right: 43px;
}

@mixin btn-icon-only-padding {
    padding-left: 18px;
    padding-right: 18px;
}
