footer {
    text-align: center;

    .widget-title {
        font-size: 27px;
        color: #fff;
        margin: 0 0 20px 0;
        font-weight: 900;
    }

    .footer-info p {
        color: $footer-color-text;
    }

    .copyrights {
        text-align: center;
        margin-top: 30px;
        color: $footer-color-text;

        a {
            color: $footer-color-text;
            &:hover {
                color: $primary;
            }
        }
    }
    .footer-menu {
        .tulia-navbar.navbar-nav {
            display: block;
            padding: 0;
            list-style: none;
            margin: 20px 0;

            .nav-item {
                display: block;
                margin: 0;
                padding: 0;
                list-style: none;

                &:before {
                    display: none;
                }

                a {
                    display: inline-block;
                    padding: 4px 0;
                    color: $footer-color-text;

                    &:hover,
                    &:focus {
                        color: $primary;
                    }
                }
            }
        }
    }

    .footer-contact {
        .contact-row {
            display: block;
            margin: 10px 0;
            color: $footer-color-text;

            a {
                font-size: 16px;
                color: $footer-color-text;

                &:hover,
                &:focus {
                    color: $primary;
                }
            }

            .cr-icon {
                color: #fff;
                display: inline-block;
                margin-right: 9px;
            }

            &.contact-address {
                &:empty {
                    display: none;
                }
            }
        }

        .socials {
            margin: 20px 0;
            padding: 20px 0 0 0;
            font-size: 0;

            a.social-icon {
                position: relative;
                display: inline-block;
                color: $footer-color-text;
                text-align: center;
                width: 28px;
                height: 28px;
                line-height: 28px;
                margin-right: 12px;
                font-size: 14px;
                border-radius: 2px;
                transition: .2s all;

                .fab {
                    color: #fff;
                    line-height: 1;
                }

                &.social-icon-facebook {
                    background-color: #4661c5;
                }
                &.social-icon-twitter {
                    background-color: #44b1e4;
                }
                &.social-icon-youtube {
                    background-color: #ff0000;
                }

                &:hover,
                &:focus {
                    transform: translateY(-4px);
                    opacity: .8;
                }
            }
        }
    }

    .navbar-nav {
        .nav-item.has-children {
            .submenu {
                display: none !important;
            }
        }
    }
}

@include media-breakpoint-up(lg) {
    footer {
        text-align: left;

        .footer-boxes {
            display: flex;
            justify-content: space-between;

            .footer-info {
                flex: 0 1 350px;
            }

            .footer-menu {
                flex: 0 0 auto;
            }

            .footer-contact {
                flex: 0 0 auto;
            }
        }
    }
}
