body {
    header {
        position: fixed;
        left: 0;
        top: 0;
        right: 0;
        min-height: 70px;
        z-index: 200;
        background-color: $header-color-bg-filled;
        transition: $transition;

        .navbar {
            background-color: transparent;

            .logo {
                position: absolute;
                left: 0;
                top: 25px;
                display: block;
                font-weight: 900;
                font-size: 22px;
                color: #fff;
                line-height: 1;

                &:hover,
                &:focus {
                    color: $primary;
                }
            }

            .tulia-navbar.navbar-nav {
                margin-top: 70px;
                margin-bottom: 10px;
                transition: $transition;

                ul,
                li {
                    display: block;
                    margin: 0;
                    padding: 0;
                    list-style: none;
                }

                li {
                    display: block;
                    height: 42px;
                    line-height: 42px;

                    &:before {
                        display: none;
                    }

                    &.active {
                        > a {
                            color: $primary;
                        }
                    }
                }

                .nav-link {
                    display: block;
                    padding: 0 15px;
                    height: 42px;
                    line-height: 42px;
                    color: #fff;
                    font-weight: bold;
                    margin: 0 10px;
                    text-align: center;

                    &:hover,
                    &:focus {
                        text-decoration: none;
                        color: $primary;
                    }
                }

                .submenu .nav-link {
                    padding: 8px 15px;
                }
            }

            .navbar-nav-hoverable .submenu {
                background-color: $header-color-bg;
            }
        }

        .hamburger {
            transition: $transition;
            position: fixed;
            right: 3px;
            top: 8px;
        }

        .header-menu {
            display: none;
            margin: 0;
            width: 100%;
        }
    }

    .header-pillow {
        height: 70px;
    }

    &.is-homepage {
        header {
            background-color: transparent;
        }
    }

    &.body-scrolled {
        header {
            background-color: $header-color-bg-filled;
            box-shadow: 0 0 10px rgba(0,0,0,.5);
            min-height: 54px;

            .navbar {
                .logo {
                    top: 17px;
                }

                .tulia-navbar.navbar-nav {
                    margin-top: 60px;
                }
            }

            .navbar-nav-hoverable .submenu {
                background-color: $header-color-bg-filled;
            }

            .hamburger {
                top: 1px;
                right: -1px;
            }
        }
    }

    &.main-menu-opened {
        header {
            background-color: $header-color-bg-filled;
            box-shadow: 0 0 10px rgba(0, 0, 0, .5);

            .header-menu {
                display: block;
            }
        }
    }
}

@include media-breakpoint-up(md) {
    body {
        header {
            .hamburger {
                display: none;
            }

            .navbar {
                display: flex;
                flex-flow: row;
                justify-content: right;
                padding: 16px;

                .logo {
                    top: 22px;
                    font-size: 28px;
                }
            }

            .header-menu {
                display: block;
                width: initial;

                .tulia-navbar.navbar-nav {
                    margin: 0;

                    li {
                        height: 42px;
                        line-height: 42px;
                        display: inline-block;

                        &.active {
                            > a {
                                color: $primary;
                            }
                        }
                    }

                    .nav-link {
                        padding: 0 15px;
                        height: 42px;
                        line-height: 42px;
                        font-weight: bold;
                        margin: 0 10px;
                    }

                    .nav-item:last-child {
                        .nav-link {
                            padding-right: 0;
                        }
                    }

                    .submenu .nav-link {
                        padding: 8px 15px;
                    }
                }

                .navbar-nav-hoverable .submenu {
                    background-color: $header-color-bg;
                }
            }
        }

        .header-pillow {
            height: 74px;
        }

        &.body-scrolled {
            header {
                .navbar {
                    .logo {
                        top: 22px;
                    }

                    .tulia-navbar.navbar-nav {
                        margin-top: 0;
                    }
                }
            }
        }
    }
}

@include media-breakpoint-up(xl) {
    body {
        header {
            min-height: 100px;

            .navbar {
                padding-top: 28px;
                padding-bottom: 28px;

                .logo {
                    top: 34px;
                }
            }
        }

        .header-pillow {
            height: 100px;
        }

        &.body-scrolled {
            header {
                min-height: 60px;

                .navbar {
                    padding-top: 20px;
                    padding-bottom: 20px;

                    .logo {
                        top: 27px;
                    }
                }
            }
        }
    }
}
