.hero {
    position: relative;
    z-index: 100;

    .hero-image {
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        z-index: 5;

        &:before {
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            display: block;
            content: "";
            background-color: rgba(0,0,0,.4);
        }
    }

    .hero-link-wrapper {
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    .hero-text {
        color: #fff;
        text-align: center;
        padding: 100px 20px 70px;
        max-width: 100%;
        width: 800px;
        margin: 0 auto;
        position: relative;
        z-index: 10;

        .hero-headline {
            font-size: 32px;
            font-weight: bold;
            margin: 20px 0;
            color: #fff;
            line-height: 1;
            text-shadow: 0 0 12px rgba(0,0,0,.5);
        }

        .hero-description {
            font-size: 19px;
            line-height: 1.5;
            margin: 20px 0;
            color: #fff;
            text-shadow: 0 0 12px rgba(0,0,0,.5);
        }

        .btn {
            margin-top: 30px;
        }
    }
}

@include media-breakpoint-up(sm) {

}

@include media-breakpoint-up(md) {
    .hero .hero-text {
        padding: 150px 20px 110px;

        .hero-headline {
            font-size: 45px;
        }
        .hero-description {
            font-size: 22px;
        }
    }
}

@include media-breakpoint-up(lg) {
    .hero {
        &.hero-static {
            &:before {
                content: "";
                display: block;
                clear: both;
                width: 100%;
                padding-top: 50%;
            }
        }

        .hero-text {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }
    }
}

@include media-breakpoint-up(xl) {
    .hero .hero-text {
        .hero-headline {
            font-size: 60px;
            margin: 40px 0;
        }
        .hero-description {
            font-size: 30px;
            margin: 40px 0;
        }
        .btn {
            font-size: 22px;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .hero .hero-text {
        .hero-headline {
            font-size: 72px;
            margin: 50px 0;
        }
        .hero-description {
            font-size: 32px;
            margin: 50px 0;
        }
    }
}
