.node-thumbnail {
    float: left;
    margin: 0 40px 30px 0;
    width: 450px;
}

.node-lead {
    margin-bottom: 50px;
    font-size: 1.5rem;
    line-height: 1.4;
    padding-left: 40px;
    position: relative;

    &:before {
        display: block;
        content: "";
        width: 5px;
        position: absolute;
        left: 0;
        top: -5px;
        bottom: -5px;
        background-color: $primary;
    }

    &:empty {
        display: none;
    }
}

.page-header {
    text-align: center;
    padding: 30px 0 20px;

    h1:after {
        display: block;
        content: "";
        width: 40px;
        height: 3px;
        background-color: $primary;
        margin: 10px auto 0 auto;
    }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
    .page-header {
        h1:after {
            width: 50px;
            height: 5px;
        }
    }
}

@include media-breakpoint-up(xxl) {
    .page-header {
        text-align: center;
        padding: 50px;
    }
}
