.btn.btn-big {
    display: inline-block;
    height: 50px;
    padding: 0 30px 0 25px;
    line-height: 50px;
    color: #fff;
    font-weight: bold;
    font-size: 17px;
    border-radius: 50px;
    background-color: #2d3a49;
    transition: .12s all;
    position: relative;
    z-index: 1;
    border: none;

    &:after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        border-radius: 50px;
        z-index: -1;
        display: block;
        opacity: 1;
        transition: .12s all;
        background: -webkit-gradient(linear,left top,right top,color-stop(0%,#31abfb),color-stop(100%,#4683f2));
        background: -webkit-linear-gradient(0deg,#31abfb 0%,#4683f2 100%);
        background: -o-linear-gradient(0deg,#31abfb 0%,#4683f2 100%);
        background: -webkit-gradient(linear,left top,right top,from(#31abfb),to(#4683f2));
        background: -webkit-linear-gradient(left,#31abfb 0%,#4683f2 100%);
        background: -o-linear-gradient(left,#31abfb 0%,#4683f2 100%);
        background: linear-gradient(90deg,#31abfb 0%,#4683f2 100%);
    }

    &:hover,
    &:focus {
        color:#fff;

        &:after {
            opacity: 0;
        }
    }

    i {
        display: inline-block;
        padding-right: 8px;
    }

    &.btn-primary:after {
        background: -webkit-gradient(linear, left top, right top, color-stop(0%, #31abfb), color-stop(100%, #4683f2));
        background: -webkit-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
        background: -o-linear-gradient(0deg, #31abfb 0%, #4683f2 100%);
        background: -webkit-gradient(linear, left top, right top, from(#31abfb), to(#4683f2));
        background: -webkit-linear-gradient(left, #31abfb 0%, #4683f2 100%);
        background: -o-linear-gradient(left, #31abfb 0%, #4683f2 100%);
        background: linear-gradient(90deg, #31abfb 0%, #4683f2 100%);
    }

    &.btn-secondary {
        background-color: #3a4e06;

        &:after {
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #36a030), color-stop(100%, #47b900));
            background: -webkit-linear-gradient(0deg, #36a030 0%, #47b900 100%);
            background: -o-linear-gradient(0deg, #36a030 0%, #47b900 100%);
            background: -webkit-gradient(linear, left top, right top, from(#36a030), to(#47b900));
            background: -webkit-linear-gradient(left, #36a030 0%, #47b900 100%);
            background: -o-linear-gradient(left, #36a030 0%, #47b900 100%);
            background: linear-gradient(90deg, #36a030 0%, #47b900 100%);
        }
    }

    &.btn-white {
        background-color: #fff;
        color: #222;

        &:after {
            background: -webkit-gradient(linear, left top, right top, color-stop(0%, #f1f1f1), color-stop(100%, #dedede));
            background: -webkit-linear-gradient(0deg, #f1f1f1 0%, #dedede 100%);
            background: -o-linear-gradient(0deg, #f1f1f1 0%, #dedede 100%);
            background: -webkit-gradient(linear, left top, right top, from(#f1f1f1), to(#dedede));
            background: -webkit-linear-gradient(left, #f1f1f1 0%, #dedede 100%);
            background: -o-linear-gradient(left, #f1f1f1 0%, #dedede 100%);
            background: linear-gradient(90deg, #f1f1f1 0%, #dedede 100%);
        }
    }
}
