.navbar {
    width: $content-width;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
    background-color: transparent;
    display: flex;
    flex-flow: row;
    justify-content: space-between;

    .logo {
        display: block;
        font-weight: 900;
        font-size: 33px;
        color: #333;

        &:hover,
        &:focus {
            color: $primary;
        }
    }

    .navbar-nav {
        .nav-item {
            .nav-link {
                display: block;
                padding: 0 25px;
                height: 42px;
                line-height: 42px;
                color: #333;
                font-weight: bold;
                font-size: 16px;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    bottom: 2px;
                    left: 50%;
                    transform: translateX(-50%);
                    height: 2px;
                    width: 0;
                    opacity: 1;
                    visibility: visible;
                    background-color: #30aafc;
                    transition: .12s width;
                }

                &:hover,
                &:focus {
                    text-decoration: none;
                    color: $primary;
                }
            }

            &:hover {
                .nav-link:after {
                    width: calc(100% - 50px);
                }
            }
        }
    }

    ul,
    li {
        display: block;
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: inline-block;
        height: 42px;
        line-height: 42px;

        &.active {
            > a {
                color: $primary;
            }
        }
    }

    .navbar-nav-hoverable .submenu {
        background-color: $header-color-bg;
        padding: 20px 0;

        .nav-link {
            padding-left: 25px;
            padding-right: 25px;
            color: #fff;

            &:after {
                display: none !important;
            }

            &:hover,
            &:focus {
                color: #31abfb;
            }
        }
    }
}

.download-link {
    margin-left: 15px;
}

.side-buttons {
    display: flex;
    align-content: center;
    align-items: center;
}

.locales-selector {
    margin-left: 15px;
    margin-right: 30px;

    .dropdown-toggle {
        font-weight: bold;
        text-transform: uppercase;

        &:hover {
            cursor: pointer;
        }
    }
}

.header-pillow {
    height: 60px;
}

body.homepage {
    .header-pillow {
        display: none;
    }
}

body.homepage header {
    background-color: transparent;
    padding: 30px 15px;
}

header {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 200;
    padding: 15px;
    background-color: $header-color-bg;
    transition: $transition;
}

body.body-scrolled header {
    background-color: #fff;
    padding-top: 7px;
    padding-bottom: 7px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
}
