.hero-homepage {
    height: 100vh;
    padding-top: 100px;
    background-image: $image-homepage-hero-background;
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    position: relative;

    .hero-container {
        width: $content-width;
        max-width: 100%;
        margin: 0 auto;
        padding: 0 90px;
        display: flex;
        flex-wrap: nowrap;

        .hero-text {
            flex: 0 0 40%;
            max-width: 40%;
            padding-right: 50px;

            h1 {
                font-size: 20px;
                margin-bottom: 35px;
            }
            p {
                font-size: 18px;
                color: #888;
                margin-bottom: 30px;
                line-height: 1.7;

                &.lead {
                    color: #222;
                    font-size: 50px;
                    line-height: 1.2;
                    font-weight: 300;
                    margin-bottom: 40px;
                }
            }
        }
        .hero-image {
            flex: 0 0 60%;
            max-width: 60%;
            display: flex;
            align-items: center;
        }
    }

    .go-down {
        position: absolute;
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        padding: 20px;
        text-align: center;
        font-size: 40px;
        line-height: 40px;
        animation-name: homepaghe-hero-scrolldown;
        animation-duration: 1.8s;
        animation-iteration-count: infinite;
        animation-timing-function: ease-in-out;
    }
}

@keyframes homepaghe-hero-scrolldown {
    0% {bottom: 10px;}
    50% {bottom: -10px;}
    100% {bottom: 10px;}
}
