body .apexcharts-tooltip {
    box-shadow: $box-shadow;
}

body .apexcharts-tooltip-y-group {
    padding: 1px 0 0;
}
body .apexcharts-tooltip-title {
    margin-bottom: 4px;
    padding: 3px 6px;
}

body .apexcharts-tooltip-series-group {
    padding: 1px 6px;
}

body .apexcharts-tooltip-series-group.active,
body .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 5px;
}

body .apexcharts-tooltip-series-group:last-child {
    padding-bottom: 4px;
}

body .apexcharts-legend-marker {
    vertical-align: middle;
}

body .apexcharts-legend-text {
    vertical-align: middle;
}
