div[data-simplebar] {position:absolute;left:0;top:0;right:0;bottom:0;}
.simplebar-scrollbar {width: 4px;transition:.12s width}
.simplebar-scrollbar.simplebar-hover {width:8px;}

aside .simplebar-track.simplebar-vertical {z-index:50}
aside .simplebar-scrollbar:before {background-color:#fff}