.pane {
    background-color: #fff;
    border-radius: $border-radius;
    box-shadow: $box-shadow-light;
    margin-bottom: 15px;
}

.pane-header {
    background-color: #fff;
    padding: 0 $pane-padding;
    height: $pane-header-height;
    border-bottom: 1px solid $border-color;
    border-radius: $border-radius $border-radius 0 0;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.pane-header-icon {
    display: inline-block;
    order: 1;
    flex: 0 0 20px;
    vertical-align: middle;
    line-height: $pane-header-height;
    height: $pane-header-height;
    margin-right: $pane-padding;
    font-size: 22px;
    color: $color-primary;
}

.pane-buttons {
    display: flex;
    order: 3;
    height: $pane-header-height;
    align-items: center;
}

.pane-buttons .btn {
    margin-left: 10px;
}

.pane-body {
    background-color: #fff;
    padding: $pane-padding;
    border-radius: 0 0 $border-radius $border-radius;
}

.pane-footer {
    background-color: #fff;
    padding: 15px;
    border-top: 1px solid $border-color;
    border-radius: 0 0 $border-radius $border-radius;
}

.pane-title {
    flex: 1 1 auto;
    order: 2;
    margin: 0;
    padding: 0;
    font-size: 15.4px;
    font-weight: 700;
    color: #222;
    line-height: $pane-header-height;
    height: $pane-header-height;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.pane-lead {
    margin: 0 15px;

    .pane-title {
        font-size: 17px;
    }
}
