/** Bootstrap overwrites */
$primary: #0f61b9;
$line-height-base: 1.8;
$line-height-lg: 1.8;
$line-height-sm: 1.8;
$body-color: #616161;
$btn-padding-x: 1.1rem;
$btn-padding-y: .5rem;
$btn-padding-x-lg: 1.4rem;
$btn-padding-y-lg: .6rem;
$font-family: 'Mulish', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size: 15px;

/** Hamburger */
$hamburger-layer-color: #fff;

/**
 * Theme customs
 */
$transition-duration: .12s;
$footer-color-text: #ddd;
$transition: .12s all;
$header-color-bg: rgba(0,0,0,.4);
$header-color-bg-filled: #333;
$header-margin: 40px;
$element-margin-bottom: 40px;

$btn-icon-size: 1rem;
$btn-icon-size-lg: 1.5rem;
