$font-family: 'Quicksand', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-size: 15px;
$transition-duration: .12s;
$content-width: 1600px;
$footer-color-text: #aaa;
$transition: .12s all;
$header-color-bg: #333;
$header-margin: 40px;

/** Bootstrap overwrites */
$primary: #0f61b9;
$line-height-base: 1.6;


$image-homepage-hero-background: url('./../../../images/homepage-hero-bg.png');
