<?php return [
    'cms.theme' => [],
    'cms.websites' => [
        [
            'backend_prefix' => '/administrator',
            'name' => 'Default website',
            'id' => '318504c0-6ebf-4624-89c1-3c97719a99ab',
            'active' => true,
            'locales' => [
                0 => [
                    'locale_code' => 'en_US',
                    'domain' => 'localhost',
                    'domain_development' => 'tulia.loc',
                    'path_prefix' => NULL,
                    'locale_prefix' => NULL,
                    'default' => true,
                    'ssl_mode' => 'ALLOWED_BOTH',
                ],
            ],
        ],
    ],
];
