@import 'variables';
@import 'sizing';
@import 'backgrounds';

.block {
    h2 {
        font-weight: 900;
        color: #000;
        font-size: 30px;
        line-height: 1.2;
        margin-bottom: 15px;
    }

    .lead {
        font-weight: 700;
        text-transform: uppercase;
        font-size: 15px;
        color: $primary;
        margin-bottom: 15px;
    }
}

@include media-breakpoint-up(sm) {
}

@include media-breakpoint-up(md) {
}

@include media-breakpoint-up(lg) {
}

@include media-breakpoint-up(xl) {
    .block {
        h2 {
            font-size: 46px;
            margin-bottom: 30px;
        }
    }
}

@include media-breakpoint-up(xxl) {
}
