$tulia-toolbar-width: 260px;
$tulia-toolbar-subitems-width: 260px;
$tulia-toolbar-background-color: #2b2b3c;

@import "https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&subset=latin-ext";

.customizer .tulia-toolbar {
    display: none !important;
}

.tulia-toolbar {
    font-family: "Poppins", Arial, Tahoma, Verdana, sans-serif !important;
    font-weight: 400;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 9999;
    width: 0;
    display: block !important;

    .tulia-fisher {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
        background-color: $tulia-toolbar-background-color;
        padding: 10px;
        border-radius: 0 3px 3px 0;
        transition: .12s all;
        box-shadow: 0 0 7px rgba(0,0,0,.6);
        z-index: 50;

        svg {
            display: block;
            height: 20px;
            width: 14px;
        }

        .tulia-fisher-tooltip {
            display: block;
            pointer-events: none;
            opacity: 0;
            position: absolute;
            left: 100%;
            top: 50%;
            color: #fff;
            background-color: $tulia-toolbar-background-color;
            padding: 2px 5px;
            border-radius: 3px;
            font-size: 12px;
            white-space: nowrap;
            transform: translate(5px, -50%);
            transition: .12s all;
        }

        &:hover {
            cursor: pointer;

            .tulia-fisher-tooltip {
                opacity: 1;
            }
        }
    }

    .toolbar-content {
        background-color: $tulia-toolbar-background-color;
        position: absolute;
        left: -$tulia-toolbar-width;
        top: 0;
        bottom: 0;
        width: $tulia-toolbar-width;
        transition: .12s all;
        color: #fff;
        z-index: 100;

        &:after {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            pointer-events: none;
            width: 12px;
            background-color: red;
            z-index: 20;
            background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(0,0,0,0) 25%, rgba(0,0,0,0.37) 100%);
            background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.37) 100%);
            background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(0,0,0,0) 25%,rgba(0,0,0,0.37) 100%);
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#5e000000',GradientType=1);
        }

        &:before {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            z-index: 0;
            background-image: url('/assets/core/backend/theme/images/sidebar-bg-2.jpg');
            background-position: center top;
            background-size: cover;
            opacity: .06;
        }
    }

    .tulia-toolbar-hl {
        margin-bottom: 20px;

        img {
            max-width: 100%;
            width: 130px;
            display: block;
            margin: 26px auto;
        }
        span {
            font-size: 15px;
            text-align: center;
            display: block;
            background-color: #1450a3;
            padding: 8px;
        }
    }

    .tulia-toolbar-items,
    .tulia-toolbar-items ul ,
    .tulia-toolbar-items li {
        display: block;
        list-style: none;
        padding: 0;
        margin: 0;
    }

    .tulia-toolbar-items {
        > li:first-child {
            margin-bottom: 15px;
        }

        li {
            position: relative;
            z-index: 40;

            a {
                display: block;
                padding: 10px 20px;
                font-size: 15px;
                color: #fff;
                white-space: nowrap;
            }

            &.tulia-toolbar-item-has-icon {
                > a {
                    padding-left: 40px;
                }
            }

            &.tulia-toolbar-item-has-children {
                > a:after {
                    display: block;
                    content: "\203A";
                    position: absolute;
                    right: 10px;
                    top: 50%;
                    transform: translateY(-20px);
                    color: #fff;
                    font-size: 24px;
                }
            }

            &:hover {
                > a {
                    background-color: rgba(255, 255, 255, 0.1);
                }

                ul {
                    display: block;
                }

                &.tulia-toolbar-item-has-icon {
                    > a {
                        padding-left: 45px;
                    }
                }
            }
        }

        ul {
            display: none;
            position: absolute;
            left: 100%;
            top: 0;
            width: $tulia-toolbar-subitems-width;
            background-color: $tulia-toolbar-background-color;
            box-shadow: 5px 5px 10px rgba(0,0,0,.3);
            border-left: 1px solid rgba(255,255,255,.1);
        }

        .tulia-toolbar-item-icon {
            display: block;
            position: absolute;
            left: 11px;
            top: 50%;
            transform: translateY(-50%);

            svg {
                display: block;
                width: 16px;
                height: 16px;
            }
        }
        .tulia-toolbar-item-label {
            display: inline-block;
        }
    }
}

.tulia-toolbar-opened .tulia-toolbar {
    .toolbar-content {
        left: 0;
    }

    .tulia-fisher {
        left: $tulia-toolbar-width - 1px;

        svg {
            transform: rotate(180deg);
        }
    }
}
